<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/utils.css">
    <link rel="stylesheet" href="css/mobiled.css">
    <title>iblog - Heaven for bloggers</title>
</head>

<body>
    <nav class="navigation max-width-1 m-auto">
        <div class="nav-left">
            <a href="/">
                <span><img src="img/blogger.svg" width="64px" alt="iBlog"></span>
            </a>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>

        </div>
        <div class="nav-right">
            <form action="search" method="get">
                <input class="form-input" type="text" name="query" placeholder="Article Search">
                <button class="btn">Search</button>
            </form>

        </div>

    </nav>
    <div class="max-width-1 m-auto">
        <hr>

    </div>
    <div class="m-auto content max-width-1 my-2">
        <div class="content-left">
            <h1>The heaven for bloggers</h1>
            <p>The best ideas can change who we are. iBlog is where those ideas take shape, take off, and spark powerful conversations. We’re an open platform where 170 million readers come to find insightful and dynamic thinking. Here, expert and undiscovered voices alike dive into the heart of any topic and bring new ideas to the surface. Our purpose is to spread these ideas and deepen understanding of the world.</p>
        </div>
        <div class="content-right">
            <img src="img/laptop.jpg" alt="iBlog">
        </div>
    </div>
    <div class="max-width-1 m-auto">
        <hr>
    </div>
    <div class="hom-articles max-width-1 m-auto font2">


        <h2>Featured Articles</h2>
        <div class="home-article">
            <div class="home-article-img">
                <img src="img/andrew-jackson.svg" alt="article">

            </div>
            <div class="home-article-content font1">
                <a href="salvictoria">
                    <h3>14 Disgusting Facts About Thomas Jefferson's private life</h3>
                </a>
                <div>Sal Victoria</div>
                <span>07 January | 5 min read</span>
            </div>
        </div>
        <div class="home-article">
            <div class="home-article-img">
                <img src="img/mono-gnome-question.svg" alt="article">

            </div>
            <div class="home-article-content font1">
                <a href="niretyal">
                    <h3>The Real Reason Why You Sabotage Your Own Goals</h3>
                </a>
                <span>Nir Etyal</span>
                <div>11 February | 4 min read</div>
            </div>
        </div>
        <div class="home-article">
            <div class="home-article-img">
                <img src="img/Update-Note--Arvin61r58.svg" alt="article">

            </div>
            <div class="home-article-content font1">
                <a href="adamchandler">
                    <h3>Vitamin D and Covid-19: An Update</h3>
                </a>
                <span>Adam Chandler</span>
                <div>03 March | 7 min read</div>
            </div>
        </div>
        <div class="home-article">
            <div class="home-article-img">
                <img src="img/adam-lowe-MacBook.svg" alt="article">

            </div>
            <div class="home-article-content font1">
                <a href="denisa">
                    <h3>6 Free MacOS Apps I never Close</h3>
                </a>
                <span>Denisa Blackwood</span>
                <div>13 August | 6 min read</div>
            </div>
        </div>
        <div class="home-article">
            <div class="home-article-img">
                <img src="img/1548370752.svg" alt="article">

            </div>
            <div class="home-article-content font1">
                <a href="alysa">
                    <h3>3 Habits of Incredibly Healthy People</h3>
                </a>
                <span>Alyssa Atkinson</span>
                <div>28 January | 7 min read</div>
            </div>
        </div>
    </div>




    <div class="footer">
        <p>Copyright &copy; iBlog.com </p>
        <a href="https://www.vecteezy.com/free-vector/typing">Vector Credits: vecteezy</a>

    </div>
</body>

</html>